body {
    font-family: 'MS Serif', serif;
    background-image: url('/public/bg.png'); 
    background-repeat: repeat;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F5F5;
    border: 2px solid #000000;
  }
  
  .header img {
    margin-top: 20px;
    width: 300px;
    height: auto;
  }
  
  .retro-img {
    filter: grayscale(100%) contrast(1.2) brightness(0.9); 
    image-rendering: pixelated; 
    border: 1px solid #000000; 
  }
  
  .header h1 {
    font-size: 36px;
    color: #333333; 
    margin: 10px 0;
  }
  
  .header p {
    font-size: 18px;
    color: #666666;
    margin-bottom: 30px;
  }

  .content p {
    font-size: 16px;
    margin: 20px 0;
    color: #333333;
  }

  .buttons {
    margin: 30px 0;
  }
  
  .button {
    display: inline-block;
    background-color: #333333; 
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 0;
  }
  
  .button:hover {
    background-color: #555555; 
  }

  .footer {
    margin-top: 50px;
    font-size: 12px;
  }
  
  .footer a {
    color: #333333; 
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

  @media only screen and (max-width: 600px) {
    .header img {
      width: 80%;
    }
  
    .button {
      width: 90%;
      font-size: 16px;
    }
  }
  